.currentSentence {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 25px;
}
.title {
  color: blue;
  font-size: large;
  margin: 25px;
  padding: 25px;
}

.clarification1 {
  margin: 25px;
  padding: 25px;
}
.clarification1 {
  margin: 25px;
  padding: 25px;
}
.score {
  margin: 25px;
  padding: 25px;
}
button {
  display: flex;
  align-self: center;
  width: 25%;
  background-color: #388e3c;
}
.line {
  display: flex;

  justify-items: center;
  margin: 10px;
}
.letter {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  background-color: #e1e1e1;
  margin: 5px;
}
.letterSpace {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  background-color: #ffb74d;
}
.inputsToFill {
  display: flex;
  flex-direction: column;
  margin: auto;
}
